body {
    background-image: url("nyclights.jpg");
    background-size: cover;
}
.center {
    text-align: center;
    font-family: Georgia;
}
#name {
    height: 35px;
    width: 250px;
    font-size: 20pt;
    color: white;
    margin: auto;
    margin-left: 10%;
    margin-top: 23%;
    margin-right: 20px;
}
#tagline {
    position: relative;
    bottom: -85px;
    color: white;
}
.linkpos {
    height: 60px;
    width: 90px;
    margin: auto;
    margin-left: 75%;
    position: relative;
    bottom: 300px;

}
.linkformat {
    text-decoration: none;
    color: white;
    border: solid;
    border-width: 3px;
    padding: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
}
#resume {
    position: relative;
    top: -20px;
    height: 30px;
    width: 40px;

}
#bio {    
    position: relative;
    margin-top: 10px;
    top: 40px;
    height: 30px;
    width: 100px;
}
#photo {
    width: 175px;
    height: auto;
    margin: auto;
    position: relative;
    top: -175px;
}
  
