@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
body {
    background-image: url("nyclights.jpg");
    background-size: cover;
}
.center {
    text-align: center;
    font-family: Georgia;
}

.roundbord {
    color: white;
    border: solid;
    border-width: 1px;
    border-radius: 7px;
    opacity: .93;
}
#name {
    height: 30px;
    width: 200px;
    font-size: 18pt;
    font-weight: 300;
    color: white;
    margin-left: 12%;
    margin-top: 24%;
    padding: 2px;
    background-color: rgba(000,000,000,0.70);
    animation: fadein 3.5s;
}
#tagline {
    text-align: center;
    height: 23px;
    width: 380px;
    position: relative;
    margin-left: 35%;
    margin: auto;
    bottom: -75px;   
    padding: 2px;
    font-size: 14pt;
    font-weight: 300;
    font-style: italic;
    background-color: rgba(000,000,000,0.80);
    animation: fadein 3.5s;
}
.linkpos {
    height: 60px;
    width: 90px;
    margin: auto;
    margin-left: 73%;
    position: relative;
    bottom: 300px;
    animation: fadein 3.5s;
}
.linkformat {
    text-decoration: none;
    color: white;
    font-size: 13pt;
    background: rgba(000,000,000,0.70);
    padding: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    transition: .2s ease-in;
}
.linkformat:hover {
    transition: .2s ease-in;
    background: rgba(200,200,200,0.70);
}
#resume {
    position: relative;
    top: -20px;
    height: 30px;
    width: 40px;
}
#bio {    
    position: relative;
    margin-top: 10px;
    top: 20px;
    height: 30px;
    width: 100px;
}
#photo {
    width: 190px;
    height: auto;
    margin: auto;
    position: relative;
    bottom: 190px;
    right: 10px;
    left: 10px;
    animation: fadein 1.5s;
}
#bioblock {
    margin: 15%;
    background-color: rgba(000,000,000,0.85);
    padding: 2%;
}
#biotext {
    font-size: 15pt;
    font-family: Georgia;
    text-indent: 50px;
    letter-spacing: 2px;
}
#abouttext {
    font-size: 16pt;
    position: relative;
    top: -10px;
    letter-spacing: 1px;
}
.loctext {
    font-weight: 300;
}
.postext {
    font-weight: 300;
    font-style: italic;
}

  
